Source: libevtx
Section: unknown
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.3
Homepage: http://code.google.com/p/libevtx/

Package: libevtx
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to access the Windows XML Event Log (EVTX) format
 libevtx is a library to access the Windows XML Event Log (EVTX) format.

Package: libevtx-dev
Section: libdevel
Architecture: any
Depends: libevtx (= ${Source-Version})
Description: Header files and libraries for developing applications for libevtx
 Header files and libraries for developing applications for libevtx.

Package: libevtx-tools
Section: utils
Architecture: any
Depends: libevtx (= ${Source-Version}), ${shlibs:Depends}
Description: Several tools for reading Windows XML Event Log (EVTX) files
 Several tools for reading Windows XML Event Log (EVTX) files.

Package: libevtx-python
Section: python
Architecture: any
Depends: libevtx (= ${Source-Version}), ${shlibs:Depends}, ${python:Depends}
Description: Python bindings for libevtx
 Python bindings for libevtx.

