Source: libevtx
Section: libs
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, python-all-dev, python3-all-dev
Standards-Version: 3.9.5
Homepage: https://github.com/libyal/libevtx/

Package: libevtx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libevtx-dbg
Description: Library to access the Windows XML Event Log (EVTX) format
 libevtx is a library to access the Windows XML Event Log (EVTX) format.

Package: libevtx-dbg
Architecture: any
Section: debug
Depends: libevtx (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libevtx
 Debugging symbols for libevtx.

Package: libevtx-dev
Section: libdevel
Architecture: any
Depends: libevtx (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libevtx
 Header files and libraries for developing applications for libevtx.

Package: libevtx-tools
Section: utils
Architecture: any
Depends: libevtx (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Several tools for reading Windows XML Event Log (EVTX) files
 Several tools for reading Windows XML Event Log (EVTX) files.

Package: libevtx-python
Section: python
Architecture: any
Depends: libevtx (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libevtx-python-dbg
Description: Python 2 bindings for libevtx
 Python 2 bindings for libevtx.

Package: libevtx-python-dbg
Section: debug
Architecture: any
Depends: libevtx-python (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libevtx-python
 Debugging symbols for libevtx-python.

Package: libevtx-python3
Section: python
Architecture: any
Depends: libevtx (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libevtx-python3-dbg
Description: Python 3 bindings for libevtx
 Python 3 bindings for libevtx.

Package: libevtx-python3-dbg
Section: debug
Architecture: any
Depends: libevtx-python3 (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libevtx-python3
 Debugging symbols for libevtx-python3.

