#!/usr/bin/make -f
# debian/rules that uses debhelper >= 7.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

PYTHON_PACKAGE_DIR=$(shell python -c "import distutils.sysconfig;print distutils.sysconfig.get_python_lib(True) ")


%:
	dh  $@

install_libevtx:
	# Set up libevtx package directories and files
	mkdir -p debian/libevtx/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.so.*.*.* debian/libevtx/usr/lib

install_libevtx_dev:
	# Set up libevtx-dev package directories and files
	mkdir -p debian/libevtx-dev/usr/include
	mkdir -p debian/libevtx-dev/usr/include/libevtx
	mkdir -p debian/libevtx-dev/usr/lib
	mkdir -p debian/libevtx-dev/usr/lib/pkgconfig
	mkdir -p debian/libevtx-dev/usr/share/man/man3
	install -p -m755 debian/tmp/usr/include/*.h debian/libevtx-dev/usr/include
	install -p -m755 debian/tmp/usr/include/libevtx/*.h debian/libevtx-dev/usr/include/libevtx
	install -p -m755 debian/tmp/usr/lib/*.la debian/libevtx-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.a debian/libevtx-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/lib*.so debian/libevtx-dev/usr/lib
	install -p -m755 debian/tmp/usr/lib/pkgconfig/* debian/libevtx-dev/usr/lib/pkgconfig
	install -p -m755 debian/tmp/usr/share/man/man3/* debian/libevtx-dev/usr/share/man/man3

install_libevtx_tools:
	# Set up libevtx-tools package directories and files
	mkdir -p debian/libevtx-tools/usr/bin
	mkdir -p debian/libevtx-tools/usr/share/man/man1
	install -p -m755 debian/tmp/usr/bin/* debian/libevtx-tools/usr/bin
	install -p -m755 debian/tmp/usr/share/man/man1/* debian/libevtx-tools/usr/share/man/man1

install_libevtx_python:
	# Set up libevtx-python package directories and files
	mkdir -p debian/libevtx-python/$(PYTHON_PACKAGE_DIR)
	install -p -m775 debian/tmp$(PYTHON_PACKAGE_DIR)/pyevtx.* debian/libevtx-python$(PYTHON_PACKAGE_DIR)

override_dh_auto_configure:
	dh_auto_configure -- --enable-python

override_dh_auto_test:

override_dh_installinit: install_libevtx install_libevtx_dev install_libevtx_tools install_libevtx_python

override_dh_installmenu:

override_dh_installmime:

override_dh_installmodules:

override_dh_installlogcheck:

override_dh_installlogrotate:

override_dh_installpam:

override_dh_installppp:

override_dh_installudev:

override_dh_installwm:

override_dh_installxfonts:

override_dh_gconf:

override_dh_icons:

override_dh_perl:

override_dh_pysupport:

dh_python2:

override_dh_shlibdeps:
	dh_shlibdeps -Llibevtx -l${PWD}/debian/tmp/usr/lib

override_dh_makeshlibs:
	dh_makeshlibs -Xlibevtx-dev

